<!-- views/random-beer.hbs -->
{{#responseFromAPI}}

{{> beerpartial this}}
<div class="random-container">
        
        <h3>Food Pairing</h3>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><span>Brewers Tips: </span>{{brewers_tips}}</p>
    </div>
</div>
{{/responseFromAPI}}


